.header {
  display: flex;

  justify-content: center;

  padding-top: 50px;

  width: 100vw;
  height: 100vh;
  @media (max-width: 800px) {
    padding-top: 55px;
  }

  @media (max-width: 520px) {
    padding-top: 65px;
  }
}

.container {
  height: calc(100% - 20px);
  width: 90%;
  margin: 10px 0 0 0;
}

.main-nav {
  display: flex;
  width: 100%;
  height: calc(97% - 20px);

  gap: 1%;

  opacity: 1;

  -webkit-perspective: 600px;
  perspective: 600px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;

  transition: all 0.5s ease;

  @media (max-width: 460px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
  }
}
