.modal__title {
  margin: 0 0;
}
.modal__subtitle {
  margin: 10px 0 5px 0;
}
.modal__input {
  margin: 5px 0;
}
.modal__button {
  margin: 5px 0;
}

.wrapper-social {
  margin-top: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.wrapper-social__link {
}
